/*====================
=======Structure======
======================*/

header{}


main{}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}


/*====================
========Header=========
======================*/

.header-top{
    background-color: #e6e6e6;
    padding: 0.5rem 5%;
    width: 90%;
}

.header-top-featured-news{
    width: 85%;
}

.header-top-featured-news ul{
    display: flex;
    justify-content: space-between;
}

.header-top-featured-news ul li{
    font-size: 0.8rem;
    margin: 0 0 0 0.4rem;
}

.header-top-featured-news ul li:first-child{
    color: hsl(0, 100%, 40%);
    font-weight: 600;
}

.header-top-editions{
    margin-left: auto;
    width: 50%;
}

.header-top-editions ul{
    display: flex;
    justify-content: space-between;
}

.header-top-editions ul li{
    font-size: 0.7rem;
}

.header-main{
background-color: #cd0000;
}

.header-main-logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-main-menu-button{
    width: 5rem;
    margin-top: 1.7rem;
    
}

.header-main-sessions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
}

.header-main-sessions .login button{
    margin: 20px;
    background-color: #e6e6e6;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.header-main-sessions .login button span{
}

.header-main-sessions .register button span{
}

.header-main-sessions .register button{
    margin: 20px;
    background-color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffc700;
    font-weight: bolder;
    font-style: italic;
}

.header-main-sessions-login-image{
    width: 20px;
    vertical-align: middle;
    margin-top: -4px;

}

.header-menu{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header-menu-block{
    margin: 10px 10px 5px 10px;
}

.header-menu-block span{
    margin: 10px 10px 5px 10px;
    font-weight: bolder;
}

.header-menu-block .home{
    width: 15px;
}

.header-menu-block .lens{
    width: 15px;
}

/*====================
========Ads==========
======================*/

.main-ad{
    display: flex;
    justify-content: center;
}
.banner-ad{}

/*====================
======News============
======================*/

.news{
    margin: 0 0.3rem 0.4rem 0.3rem;
}
.news-image{
    width: 100%;
}
.news-category span{
    color: #cd0000;
    font-family: Arial;
    font-weight: bolder;
}
.news-title span{
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: bolder;
}
.news-description span{
    font-family: Arial;
    font-size: 1rem;
}
.news-author span{
    font-family: Arial;
}






