/*====================
=======Structure======
======================*/

header{
   background-color: #cd0000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-content: center;
   flex-wrap: nowrap;
   flex-direction: column;
}


main{
   background-color: white;
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}


/* Código incrustado por Adolfo */

/* Clase especial para colocar solamente objetos en línea */
.only-inline{
    display: flex;
    flex-direction: row;



}
/* Clase especial para añadir solo espaciado en los lados */
.only-spaced{
    margin-left: 10px;
    margin-right: 10px;
}


/* Configuración de la cabecera superior */
.header-top{
    width: 100%;
    padding: 10px;
    background-color: #e6e6e6;
    font-size: 10px;
}

/* Configuración del apartado de ediciones que hay en la cabecera superior */
.header-top-editions{
    justify-content: flex-end;
    position: relative;
    right: 40px;
    font-size: 15px;
    font-family: Arial;
    display: flex;
    flex-direction: row;
}
/* Configuración del apartado de noticias destacadas que hay en la cabecera superior */
.header-top-featured-news{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 20px;
    font-family: Arial;
    font-size: 15px;
}
/* Configuración del tamaño del icono de lupa */
.lens{
        width: 20px;
}
/* Configuración de la cabecera principal */
.header-main{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
/* Configuración del logo que hay en la cabecera principal */
.header-main-logo{
    color: white;
    font-family: Impact;
    font-size: 50px;

}
/* Configuración del apartado de sesión del usuario que hay en la cabecera principal */
.header-main-sessions{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
/* Configuración de la posición del botón de login  */
.login{
    position: relative;
    right: 10px;
}
/* Configuración del boton que hay dentro del div llamado login */
.login > button{
    font-family: Arial;
    padding: 5px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 4px black;
}

/* Configuración de la posición y margen interno del bloque que contiene el boton de registro */
.register{
    position: relative;
    right: 5px;
    padding: 5px;
}

/* Configuración del botón que hay dentro del div llamado register */
.register > button{
    font-family: Arial;
    padding: 5px;
    background-color: #ffc700;
    border: 0;
    border-radius: 5px;
    font-style: italic;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 3px 4px black;
}
    /* Configuración del menu de navegación que hay dentro de la cabecera */
.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e6e6e6;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #b3b3b3;
    
}
/* Configuración del estilo de cada uno de las opciones del menu de navegación */
.header-menu-block{
    margin-right: 20px;
    font-family: Arial;
    font-weight: bolder;

}
/* Configuración del icono de casa */
.house{
    width: 15px;
    margin-right: 20px;
}
/* Configuración del icono de "hamburguesa" */
.slider{
    width: 40px;
}
/* Configuración de la caja que contiene el icono de "hamburguesa" */
.header-main-menu-button{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    left: 40px;
    

}

/* Configuración de la caja que contiene el icono de inicio de sesión 
que hay dentro del botón de Inicio de Sesión */
.header-main-sessions-login-image{
    width: 15px;
    position: relative;
}
/* Configuración de la caja que contendrá toda una noticia */
.news{
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Configuración de titulo de la noticia */
.news-title{
    font-family: Arial;
    color: black;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 25px;
}
/* Configuración de categoría de la noticia */
.news-category{
    color: #cd0000;
    font-family: Arial;
    font-weight: bolder;
}

/* Configuración de descripción de la noticia */
.news-description{
    font-family: Arial;
    font-size: 20px;
}
/* Configuración de autor de la noticia */
.news-author{
    font-family: Arial;
    font-weight: bolder;
}
/* Configuración de imagen de la noticia */
.news-image{
    width: 100%;
}

/* Configuración de la caja que contendrá una noticia en versión oscuro */
.news-dark{
    background-color: #2b2b2b;
}
/* Configuración de titulo de noticia en versión oscuro */
.news-title-dark{
    font-family: Arial;
    color: white;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 25px;
}
/* Configuración de la categoria de noticia en versión oscuro */
.news-category-dark{
    color: #9b9b9b;
    font-family: Arial;
    font-weight: bolder;
}

/* Configuración de descripción de la noticia en versión oscuro */
.news-description-dark{
    font-family: Arial;
    font-size: 20px;
}
/* Configuración de autor de la noticia en versión oscuro */
.news-author-dark{
    font-family: Arial;
    font-weight: bolder;
    color: #7c7c7c;
}
/* Configuración de imagen de la noticia en versión oscuro */
.news-image-dark{
    width: 100%;
}
/* COnfiguración de la etiqueta que coloca negrita en un texto */
b{
    margin-right: 10px;
}