

@media screen and (max-width: 1214px){
    .header-main-sessions{
        justify-content: space-between;
        width: 100%;
    }

    .header-main-sessions .login{
        margin-left: 2.5rem;
    }

    
    } 


@media screen and (max-width: 1090px) {
    
.header-top-editions ul{

    flex-direction: column;
    align-items: flex-end;


}

.header-top-featured-news ul{
    flex-direction: column;
}

.header-main-sessions .login button span{
    display: none;

}

.header-main-sessions .login{
    margin-left: 7rem;
}

.header-main-logo{
    margin-top: 2.3rem;
}

.header-main-menu-button{
    margin-top: 1.4rem;

}

.header-menu{
    flex-direction: column;
}

}

@media screen and (max-width: 1034px){
    .header-main-sessions .login{
        margin-left: 6rem;
    }
} 

@media screen and (max-width: 954px){
    .header-main-sessions .login{
        margin-left: 4rem;
    }
} 

@media screen and (max-width: 800px){
.header-main .desktop-three-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-sessions .login{
    width: 100%;
    margin-left: 0;
}

.desktop-two-columns-aside{
    flex-direction: column;
}

.desktop-two-columns{
    flex-direction: column;
}

.desktop-three-columns{
    flex-direction: column;
}

.desktop-two-columns-aside .column-main{
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 100%;
}

.desktop-two-columns .column{
    width: 100%;
}


.desktop-three-columns .column{
    width: 100%;
}




}


